{% extends "guia/base_generic.html" %}
{% block content %}
				<div class="content">
            <div class="container-fluid">
                <div class="row">
										<div class="col-md-12">
													<div class="card">
															<div class="header">
																	<h4 class="title">Todas as coleções</h4>
																	<p class="category">Clique no título da coleção para ver mais informações</p>
															</div>

															<div class="content table-responsive table-full-width">
																			{% if colecoes %}
																				<table class="table table-striped">
																					<thead>
																						<th>ID</th>
																						<th>Coordenação</th>
																						<th>Tipo</th>
																						<th>Título</th>
																						<th>Data de entrada</th>
																						<th>Nº Itens</th>
																					</thead>
																					<tbody>
																						{% for colecao in colecoes %}
																							<tr>
																								<td><a href="{% url 'colecao-detalhe' colecao.id %}">{{ colecao.id }}</a></td>
																								<td>{{ colecao.area_ims }}</td>
																								<td>Coleção</td>
																								<td><a href="{% url 'colecao-detalhe' colecao.id %}">{{ colecao.title }}</a></td>
																								<td>{{ colecao.entry_date|date:"d M Y" }}</td>
																								<td>{{ colecao.num_itens }}</td>
																							</tr>
																						{% endfor %}
																						</tbody>
																				</table>
																			{% endif %}
															</div>

													</div>
											</div>
                </div>
            </div>
        </div>
{% endblock %}
