{% extends "guia/base_generic.html" %}
{% block content %}
        <div class="content">
            <div class="container-fluid">
                <div class="row">
										<div class="col-md-6">
													<div class="card">
															<div class="header">
																	<h4 class="title">Coleção <b>{{ colecao.title }}</b></h4>
																	<p class="category">Sob responsabilidade da Coordenação de {{ colecao.area_ims }}</p>
																	<hr />
															</div>
															<div class="content">
																<div class="typo-line" style="padding: 0 1em 1.5em; text-align: justify;">
                                    <p><span class="category">Apresentação:</span> {{ colecao.resumo }}</p>
                                </div>
																<div class="typo-line" style="padding: 0 1em 1.5em; text-align: justify;">
                                    <p><span class="category">Histórico arquivístico:</span> {{ colecao.entry_obs }}</p>
                                </div>
																<div class="typo-line" style="padding: 0 1em 1.5em; text-align: justify;">
                                    <p><span class="category">Arranjo e organização:</span> Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem. Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis suscipit laboriosam, nisi ut aliquid ex ea commodi consequatur? Quis autem vel eum iure reprehenderit qui in ea voluptate velit esse quam nihil molestiae consequatur, vel illum qui dolorem eum fugiat quo voluptas nulla pariatur?</p>
                                </div>
															</div>
													</div>
											</div>

											<div class="col-md-6">
	                        <div class="card">
	                            <div class="content">
																<table  class="table table-striped">
																		<thead>
																			<th>Metadados</th>
																			<th class="text-center"></th>
																		</thead>
																		<tbody>
																				<tr>
																					<td>Código de Identificação</td>
																					<td>{{ colecao.id }}</td>
																				</tr>
																				<tr>
																					<td>Área responsável</td>
																					<td>{{ colecao.area_ims }}</td>
																				</tr>
																				<tr>
																					<td>Data baliza <i class="ti-info-alt"></i></td>
																					<td>{{ colecao.entry_date|date:"d M Y" }} - {{ colecao.entry_date|date:"d M Y" }} </td>
																				</tr>
																				<tr>
																					<td>Condição de acesso <i class="ti-info-alt"></i></td>
																					<td>Parcialmente acessível</td>
																				</tr>
																				<tr>
																					<td>Disponível presencialmente</td>
																					<td><i class="fa fa-check text-success"></i> (<a href="#">agendar visita</a>)</td>
																				</tr>
																				<tr>
																					<td>Disponível online</td>
																					<td><i class="fa fa-times text-danger"></i></td>
																				</tr>
																				<tr>
																					<td>Gêneros Documentais <i class="ti-info-alt"></i></td>
																					<td>
                                            <span class="tag label label-info"> Iconográfico</span>
                                            <span class="tag label label-info"> Literário</span>
                                            <span class="tag label label-info"> Audiovisual</span>
                                          </td>
																				</tr>
																				<tr>
																					<td>Localização</td>
																					<td>Rio de Janeiro</td>
																				</tr>
																		</tbody>
																</table>
	                        </div>
	                    </div>
                </div>

                <div class="col-md-6">
    								<div class="card">
    										<div class="content">

                          <table class="table table-striped">
                            <thead>
                              <th>Status de processamento</th>
                              <th><span class="category"></span></th>
                            </thead>
                            <tbody>
                                <tr>
                                  <td>Nível de descrição <i class="ti-info-alt"></td>
                                  <td>1 - Descrição Básica</td>
                                </tr>
                                <tr>
                                  <td>Itens totais</td>
                                  <td>35000</td>
                                </tr>
                                <tr>
                                  <td>Itens processados <i class="ti-info-alt"></td>
                                  <td>13500</td>
                                </tr>
                                <tr>
                                  <td>Itens online</td>
                                  <td>2000</td>
                                </tr>
                              </tbody>
                          </table>

                          <div class="progress">
                                        <div class="progress-bar progress-bar-success" style="width: 5%">
                                            <span class="sr-only">5% Online</span>
                                        </div>
                                        <div class="progress-bar progress-bar-warning" style="width: 38%">
                                            <span class="sr-only">38% Processed</span>
                                        </div>
                         </div>

    								</div>
    						</div>
    						</div>

							<div class="col-md-6">
									<div class="card">
											<div class="content">




                        <table class="table table-striped">
													<thead>
														<th>Dimensionamento preliminar</th>
														<th><span class="category">Quantidades</span></th>
													</thead>
													<tbody>
															<tr>
																<td>Metros lineares</td>
																<td>2500</td>
															</tr>
															<tr>
																<td>Metros quadrados</td>
																<td>154</td>
															</tr>
															<tr>
																<td>Metros cúbicos</td>
																<td>44</td>
															</tr>
														</tbody>
												</table>
												<table class="table table-striped">
													<thead>
														<th>Inventário preliminar</th>
														<th><span class="category">Quantidades</span></th>
													</thead>
													<tbody>
                              <tr>
                                <td>Envólucros</td>
                                <td>44</td>
                              </tr>
															<tr>
																<td>Fotografias</td>
																<td>2500</td>
															</tr>
															<tr>
																<td>Cadernos</td>
																<td>154</td>
															</tr>
															<tr>
																<td>Discos</td>
																<td>44</td>
															</tr>
														</tbody>
												</table>
									</div>
							</div>
						</div>


            </div>
        </div>
{% endblock %}
