DB_NAME=django
DB_USER=django
DB_PASSWORD=django
DEBUG=True
EMAIL_HOST=smtp.email.com
EMAIL_PORT=587
EMAIL_HOST_USER=noreply@ims.com.br
EMAIL_HOST_PASSWORD=my-password
EMAIL_USE_TLS=True
BASE_URL=http://0.0.0.0:8000
DEFAULT_FROM_EMAIL=""
