{% extends 'base.html' %}
{% load staticfiles %}
{% load utils %}
{% load i18n %}


{% block title_page %}Eventos{% endblock %}


{% block navbar_top_search %}

{% endblock %}

<!-- block content START -->
{% block content %}
<div class="content">

  <div class="row">
    <div class="col-sm-12 front-header back-dark">
      <h2 class="front-title">Eventos</h2>
    </div>
  </div>

  <form id="filterAndPagination" class="form">
    <input type="hidden" name="page" value="{{ page_obj.number|default_if_none:'1' }}">
    <input type="hidden" name="order_by" value="{{ request.GET.order_by|default_if_none:'' }}">

    <div class="back-dark-over control-bar">
      <div class="row">
        <div class="form-group col-md-2 col-sm-12">
          <label for="id_date">Busque pelo título</label>
          <input type="text" id="id_title" class="form-control" name="title" value="{{ request.GET.title }}">
        </div>

        <div class="form-group col-md-2 col-sm-12">
          <label for="id_date">Filtre por data de início</label>
          <input type="text" id="id_date_start" class="form-control datepicker" name="date_start" value="{{ request.GET.date_start }}">
        </div>

        <div class="form-group col-md-2 col-sm-12">
          <label for="id_date">Filtre por data final</label>
          <input type="text" id="id_date_end" class="form-control datepicker" name="date_end" value="{{ request.GET.date_end }}">
        </div>

        <div class="form-group col-md-2 col-sm-12">
          <label for="id_type">Filtre por Tipo</label><br>
          <select  title="Selecione" id="id_type" name="type" class="selectpicker" onchange="" data-style="btn btn-sm btn-fill" data-size="7">
            <option value="">Todos os Tipos</option>
            {% for value, label in types %}
              <option value="{{ value }}" {% if value|lower == request.GET.type %}selected {% endif %}>{{ label }}</option>
            {% endfor %}
          </select>
        </div>

        <div class="form-group col-md-2 col-sm-12">
          <label for="id_location">Filtre por localização</label>
          <select  title="Selecione" id="id_location" name="location" class="selectpicker" onchange="" data-style="btn btn-sm btn-fill" data-size="7">
            <option value="">Todas as localizações</option>
            {% for value, label in locations %}
              <option value="{{ value }}" {% if value|lower == request.GET.location %}selected{% endif %}>{{ label }}</option>
            {% endfor %}
          </select>
        </div>

        <div class="form-group col-md-2 col-sm-12">
          <label for=""></label>
          <button type="submit" class="btn btn-danger">Filtrar</button>
          <label for=""></label>
          <a href="{% url "event" %}" class="btn btn-default">Limpar Filtros</a>
        </div>
      </div>
    </div>
  </form>

  <div class="container-fluid">
    <div class="row back-beige">
      <div class="col-md-12 table-responsive">
        <table class="table table-hover">
          <thead class="text-warning">
            {% if object_list %}
              <tr>
                <th>{% th_with_order_by 'title' "Title" %}</th>
                <th>{% th_with_order_by 'date_start' "Initial Date" %}</th>
                <th>{% th_with_order_by 'date_end' "Final date" %}</th>
                <th>{% th_with_order_by 'type' "Type" %}</th>
                <th>{% th_with_order_by 'location' "Location" %}</th>
              </tr>
            {% endif %}  
          </thead>
          <tbody>
            {% for object in object_list %}
              <tr id="id-exhibition-{{ object.id_auto_series }}">
                <td>
                  <a href="{{ object.get_absolute_url }}">
                    {{ object.title|default_if_none:"-" }}</a>
                </td>
                <td>{{ object.date_start|default_if_none:"-" }}</td>
                <td>{{ object.date_end|default_if_none:"-" }}</td>
                <td>{{ object.type|default_if_none:"-" }}</td>
                <td>{{ object.location|default_if_none:"-" }}</td>
              </tr>

            {% empty %}
            <td colspan="7">Não há dados para os filtros selecionados</td>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
  </div>

  {% include 'utils/pagination.html' %}

{% endblock %}

{% block js %}
  {{ block.super }}
  {% include 'utils/list_js.html' %}
  {% include 'utils/datepicker.html' %}
{% endblock %}
