{% extends 'base.html' %}
{% load staticfiles %}
{% load collection_filters %}

{% block title_page %}
Guia
{% endblock %}


{% block sidebar_menu %}
  {% include 'exhibition/exhibition_sidebar_menu.html' %}
{% endblock %}


<!-- block content START -->
{% block content %}
<div class="content">

  <div class="row">
    <div class="col-sm-12 front-header back-dark">
      <h2 class="front-title">
        Exposição
        {{ exhibition.title }}
      </h2>
    </div>
  </div>

<!-- abstract START -->
<div class="row back-dark-over control-bar">
<div class="container">
  <div class="row">
    <div class="col-sm-6">
      <p>{{ exhibition.abstract }}</p>
    </div>
    <div class="col-sm-6">
      <button class="btn">
        Catálogo on line
        <span class="btn-label btn-label-right">
          <i class="nc-icon nc-minimal-right"></i>
        </span>
      </button>
    </div>
  </div>
</div>
</div>
<!-- abstract END -->


<!-- container content START -->
<div class="container mt-3 mb-3">
  <div class="row back-beige">

    <!-- collection detail full text START -->
    <div class="col-sm-6">
      {% if collection.full_text %}
      {{ collection.full_text|safe }}
      {% else %}
      <p>Esta coleção ainda não possui texto descritivo.</p>
      {% endif %}
    </div>
    <!-- collection detail full text END -->


<div class="col-sm-6">

<!-- table basic info START -->
<div class="card">
  <div class="card-header">
    <h4 class="card-title"> Informações Básicas</h4>
  </div>
  <hr>
  <div class="card-body">

      <table class="table table-striped">
        <tbody>
          <tr>
            <th scope="row">Códido de Identificação</th>
            <td>{{collection.id_human}}</td>
          </tr>
          <tr>
            <th scope="row">Área Responsável</th>
            <td>{{collection.management_unit}}</td>
          </tr>
          <tr>
            <th scope="row">Data Baliza</th>
            <td>{{collection.date_start|default_if_none:'-'|date:'Y' }} -
              {{collection.date_end|default_if_none:'-'|date:'Y' }}</td>
          </tr>
          <tr>
            <th scope="row">Condição de Acesso</th>
            <td>
              {{collection.access_condition}}
            </td>
          </tr>
          <tr>
            <th scope="row">Disponível Presencialmente</th>
            <td>
              {% if collection.access_local_status %}
              <i class="far fa-check-circle bullet-check"></i>
              {% else %}
              <i class="far fa-times-circle bullet-times"></i>
              {% endif %}
            </td>
          </tr>
          <tr>
            <th scope="row">Disponível Online</th>
            <td>
              {% if collection.access_online_status %}
              <i class="far fa-check-circle bullet-check"></i>
              {% else %}
              <i class="far fa-times-circle bullet-times"></i>
              {% endif %}
            </td>
          </tr>
          <tr>
            <th scope="row">Gêneros Documentais</th>
            <td>
              {% for genre_tag in collection.genre_tags.all %}
                <a href="#">{{ genre_tag }}</a>
                  {% if not forloop.last %},{% else %}.{% endif %}
              {% empty %}
                -
              {% endfor %}
            </td>
          </tr>
          <tr>
            <th scope="row">Localização</th>
            <td>
              {{ collection.location_generic }}
            </td>
          </tr>
        </tbody>
      </table>

  </div>
</div>
<!-- table basic info END -->
<!-- table dimensions info START -->
<div class="card">
  <div class="card-header">
    <h4 class="card-title"> Dimensões</h4>
  </div>
  <hr>
  <div class="card-body">

      <table class="table table-striped">
        <tbody>
          {% for key, value in object.dimensions.items %}
          <tr>
            <th scope="row">{{ key }}</th>
            <td>{{value}}</td>
          </tr>
          {% endfor %}
        </tbody>
      </table>

  </div>
</div>
<!-- table dimensions info END -->

<!-- table inventary info START -->
<div class="card">
  <div class="card-header">
    <h4 class="card-title"> Inventário</h4>
  </div>
  <hr>
  <div class="card-body">

      <table class="table table-striped">
        <tbody>
          {% for key, value in inventary_data.items %}
          <tr>
            <th scope="row">{{ key }}</th>
            <td>{{value}}</td>
          </tr>
          {% endfor %}
        </tbody>
      </table>

  </div>
</div>
<!-- table inventary info END -->

<!-- table inventary info START -->
<div class="card">
  <div class="card-header">
    <h4 class="card-title"> Processamento </h4>
  </div>
  <hr>
  <div class="card-body">

      <table class="table table-striped">
        <tbody>

          <tr>
            <th scope="row">Total de Itens</th>
            <td>{{ collection.items_total }}</td>
          </tr>
          <tr>
            <th scope="row">Total de Itens Processados</th>
            <td>{{ collection.items_processed }}</td>
          </tr>
          <tr>
            <th scope="row">Total de Itens Online</th>
            <td>{{ collection.items_online }}</td>
          </tr>

        </tbody>
      </table>

  </div>
</div>
<!-- table inventary info END -->

    </div>

  </div>
</div>
<!-- container content END -->


{% endblock %}
<!-- block content END -->
