{% extends 'base.html' %}
{% load staticfiles %}
{% load collection_filters %}
{% load utils %}
{% load i18n %}

<!-- block title_page START -->
{% block title_page %}
Exibições
{% endblock %}
<!-- block title_page END -->


{% block navbar_top_search %}

{% endblock %}

<!-- block content START -->
{% block content %}
  <div class="content">

    <div class="row">
      <div class="col-sm-12 front-header back-dark">
        <h2 class="front-title">Exibições</h2>
      </div>
    </div>

  <form id="filterAndPagination" class="form">
    <div class="row back-dark-over control-bar">
      <input type="hidden" name="page" value="{{ page_obj.number|default_if_none:'1' }}">
      <input type="hidden" name="order_by" value="{{ request.GET.order_by|default_if_none:'' }}">

      <div class="form-group col-md-4 col-sm-12">
        <label for="id_date">Filtre por data de início</label>
        <input type="text" id="id_date" class="form-control datepicker" name="date_start" value="{{ request.GET.date_start }}">
      </div>

      <div class="form-group col-md-4 col-sm-12">
        <label for="id_date">Filtre por data final</label>
        <input type="text" id="id_date" class="form-control datepicker" name="date_end" value="{{ request.GET.date_end }}">
      </div>

      <div class="form-group col-md-2 col-sm-12">
        <label for="id_location">Filtre por localização</label>
        <select  title="Selecione" id="id_location" name="location" class="selectpicker" onchange="" data-style="btn btn-sm btn-fill" data-size="7">
          <option value="">Todas as localizações</option>
          {% for value, label in locations %}
            <option value="{{ value }}" {% if value|lower == request.GET.location %}selected{% endif %}>{{ label }}</option>
          {% endfor %}
        </select>
      </div>
      <div class="form-group col-md-2 col-sm-12">
          <label for="id_location"></label>
          <button type="submit" class="btn btn-danger">Filtrar</button>
        <label for="id_location"></label>
        <a href="{% url "exhibition" %}" class="btn btn-default">Limpar Filtros</a>
      </div>
    </div>
  </form>

  <div class="container-fluid">
    <div class="row back-beige">
      <div class="col-md-12 table-responsive">
        <table class="table table-hover">
          <thead class="text-warning">
            <tr>
              <th>{% th_with_order_by "pk" "ID" %}</th>
              <th>{% th_with_order_by 'id_human' "Institucional ID" %}</th>
              <th>{% th_with_order_by 'title' "Title" %}</th>
              <th>{% th_with_order_by 'date_start' "Initial Date" %}</th>
              <th>{% th_with_order_by 'date_end' "Final date" %}</th>
              <th>{% th_with_order_by 'location' "Location" %}</th>
              <th>{% trans "Catalog(s)" %}</th>
            </tr>
          </thead>
          <tbody>
            {% for object in object_list %}
              <tr id="id-exhibition-{{ object.id_auto_series }}">
                <td>
                  <a href="{{ object.get_absolute_url }}">
                    {{ object.id_auto_series }}</a>
                </td>
                <td>
                  <a href="{{ object.get_absolute_url }}">
                    {{ object.id_human|default_if_none:"-" }}</a>
                </td>
                <td>
                  <a href="{{ object.get_absolute_url }}">
                    {{ object.title|default_if_none:"-" }}</a>
                </td>
                <td>{{ object.date_start|default_if_none:"-" }}</td>
                <td>{{ object.date_end|default_if_none:"-" }}</td>
                <td>{{ object.location|default_if_none:"-" }}</td>
                <td>
                  {% for catalog in object.catalog.all %}
                    <a href="#">{{ catalog.title }}</a>{% if not forloop.last %},{% else %}.{% endif %}
                  {% empty %}
                    -
                  {% endfor %}
                </td>
              </tr>

            {% empty %}
            <td colspan="7">Não há dados para os filtros selecionados</td>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
  </div>

{% include 'utils/pagination.html' %}

{% endblock %}
<!-- block content END -->

{% block js %}
  {{ block.super }}
  {% include 'utils/list_js.html' %}
  {% include 'utils/datepicker.html' %}
{% endblock %}
