{% extends 'base.html' %}
{% load staticfiles %}

<!-- block title_page START -->
{% block title_page %}
  Guia
{% endblock %}
<!-- block title_page END -->

<!-- block sidebar_menu START -->
{% block sidebar_menu %}
<ul class="nav">
  <li class="active">
    <a href="{% url 'collection' %}">
      <i class="far fa-folder-open"></i>
      <p>Coleções</p>
    </a>
  </li>
  <li>
    <a href="{% url 'exhibition' %}">
      <i class="fas fa-images"></i>
      <p> Exposições </p>
    </a>
  </li>
  <li>
    <a href="{% url 'publication' %}">
      <i class="fas fa-book"></i>
      <p> Publicações </p>
    </a>
  </li>
  <li>
    <a href="{% url 'person' %}">
      <i class="fas fa-user-circle"></i>
      <p> Pessoas </p>
    </a>
  </li>
</ul>
{% endblock %}
<!-- block sidebar_menu END -->

  <!-- block content START -->
  {% block content %}
  <div class="content">
    <!-- content_row_card25percent START -->
    {% block content_row_card25percent %}
    {% endblock %}
    <!-- content_row_card25percent END -->

    <!-- content_row_card33percent START -->
    {% block content_row_card33percent %}
    {% endblock %}
    <!-- content_row_card33percent END -->

    <!-- content_row_card50percent START -->
    {% block content_row_card50percent %}
    {% endblock %}
    <!-- content_row50percent END -->

    <!-- content_row_card100percent START -->
    {% block content_row_card100percent %}

        <div class="card">
          <div class="card-header">
            <div class="card-text">
              <h4 class="card-title">Todas as Coleções</h4>
              <p class="card-category">Clique na coleção para ver detalhes das informações</p>
            </div>
          </div>
          <div class="card-body">
            <table class="table table-hover">
              <thead class="text-warning">
                <tr>
                  <th>ID</th>
                  <th>Área Responsável</th>
                  <th>Título</th>
                  <th>Data Baliza</th>
                  <th>Nível de Descrição</th>
                  <th>Status de Processamento</th>
                  <th>Condição de Acesso</th>
                  <th>Presencial</th>
                  <th>Online</th>
                </tr>
              </thead>
              <tbody>
                {% for collection in collection_list %}
                <tr>
                  <td><a href="{{ collection.get_absolute_url }}">{{collection.id_human }}</a></td>
                  <td>{{collection.management_unit }}</td>
                  <td><a href="{{ collection.get_absolute_url }}">{{collection.title}}</a></td>
                  <td>{{collection.date_start}} - {{collection.end}}</td>
                  <td>{{collection.description_level}}</td>
                  <td>status</td>
                  <td>{{collection.access_condition}}</td>
                  <td>{{collection.access_local_status}}</td>
                  <td>{{collection.access_online_status}}</td>
                </tr>
                {% endfor %}
              </tbody>
            </table>
            {% if is_paginated %}
                <div class="pagination">
                    <span class="page-links">
                        {% if page_obj.has_previous %}
                            <a href="/collection?page={{ page_obj.previous_page_number }}"> Anterior</a>
                        {% endif %}
                        <span class="page-current">
                            Página {{ page_obj.number }} de
                            {{ page_obj.paginator.num_pages }}.
                        </span>
                        {% if page_obj.has_next %}
                            <a href="/collection?page={{ page_obj.next_page_number }}"> Próxima</a>
                        {% endif %}
                    </span>
                </div>
            {% endif %}
          </div>
        </div>
      </div>

    {% endblock %}
    <!-- content_row_card100percent END -->

    <!-- content_row5 START -->
    {% block content_row5 %}
    {% endblock %}
    <!-- content_row5 END -->

  {% endblock %}
  <!-- block content END -->
