/* ===================================== */
/* Corrections of paper-dashboard theme */

.container{
  margin: 0px;
}

.container-fluid{
  padding: 0px;
}

.row{
  margin-left: 0;
  margin-right: 0;
}

.form-row{
  padding: 5px 0px;
}

.card{
  border-radius: 0px;
}

.card-stats .icon-big{
  line-height: 0;
}

.title{
  font-weight: normal;
}

.title-modal{
  margin-top: 30px;
  margin-bottom: 30px;
}

img{
  border-radius: 0px;
}

input{
  width: 90%;
  font-size: 20px;
  border: solid 1px #e3e3e3;
}

input::placeholder {
  text-align: center;
}


.sidebar .logo a.logo-mini, .off-canvas-sidebar .logo a.logo-mini{
  margin-left: 0px;
  width: 60px;
  text-align: center;
}

.sidebar .logo .simple-text, .off-canvas-sidebar .logo .simple-text {
  padding: 0px;
}

.navbar.navbar-transparent {
  border-bottom: 0px;
  background-color: #464646 !important;
}

.sidebar .nav p, .off-canvas-sidebar .nav p{
  margin: 0 10px;
  display: inline-block;
}

.svg-inline--fa{
  vertical-align: -0.325em;
}

.bg-white{
  height: 153px;
}

.main-panel > .content {
  padding: 0px;
  margin-top: 53px;
  min-height: calc(72vh - 123px);
}

.carousel-inner{
  background-color: #ddd;
  height: calc((9/16)*42vw);
  transition: height 500ms ease, transform 500ms ease, width 500ms ease;
  transform: scale(1);
  width: 42vw;
}

.card-stats .card-body{
  margin: 0px;
  padding: 5px;
}

.footer ul li {
display: block;
}

.footer-nav ul li {
display: inline-block;
}

.navbar .form-group, .navbar .input-group {
  background-color: #d6d6d6;
  /* height: 33px; */
}

.sidebar[data-color="white"] .nav li a, .sidebar[data-color="white"] .nav li a i, .sidebar[data-color="white"] .nav li a[data-toggle="collapse"], .sidebar[data-color="white"] .nav li a[data-toggle="collapse"] i, .sidebar[data-color="white"] .nav li a[data-toggle="collapse"] ~ div > ul > li .sidebar-mini-icon, .sidebar[data-color="white"] .nav li a[data-toggle="collapse"] ~ div > ul > li > a, .off-canvas-sidebar[data-color="white"] .nav li a, .off-canvas-sidebar[data-color="white"] .nav li a i, .off-canvas-sidebar[data-color="white"] .nav li a[data-toggle="collapse"], .off-canvas-sidebar[data-color="white"] .nav li a[data-toggle="collapse"] i,  .off-canvas-sidebar[data-color="white"] .nav li a[data-toggle="collapse"] ~ div > ul > li .sidebar-mini-icon, .off-canvas-sidebar[data-color="white"] .nav li a[data-toggle="collapse"] ~ div > ul > li > a {
  opacity: 1;
}

.pagination .page-item .page-link{
    border-radius: 0px !important;
}

.pagination .page-item.active > .page-link, .pagination .page-item.active > .page-link:focus, .pagination .page-item.active > .page-link:hover {
  background-color: #666666;
  border-color: #666666;
}

.pagination .page-item .page-link:hover, .pagination .page-item .page-link:focus{
  background-color: #313131;
  color: #fff;
}

.page-link-arrow {
    border: 0;
    padding: 0px 11px;
    margin: 0 3px;
    min-width: 30px;
    text-align: center;
    height: 30px;
    line-height: 30px;
    cursor: pointer;
    font-size: 14px;
    text-transform: uppercase;
    background: transparent;
    outline: none;
    color: #666666;
}

.page-link-arrow:hover{
  color: #313131;
}

.page-link-arrow:focus{
  background-color: transparent;
}

/* Corrections into mediaqueries */

@media (min-width: 1200px){
  .container{
    max-width: 100%;
  }
  .footer .footer-nav{
    padding: 20px 0px 20px 35px;
  }
  .footer .copyright{
    padding: 20px;
  }
  .modal-content {
     width: 400px;
  }
  .card-stats .card-body .numbers .card-category{
    margin-top: -20px;
  }
}

@media (min-width: 991px){
  .main-panel {
      min-height: 900px;
  }
  .footer .copyright{
    padding: 20px;
  }
  .modal-content {
     width: 400px;
  }
  .card-stats .card-body .numbers .card-category{
    margin-top: -20px;
  }
  .navbar .container-fluid{

    margin-top: 10px;
  }
}

@media screen and (min-width: 992px){
  .sidebar .sidebar-wrapper li.active-out > a:not([data-toggle="collapse"]):before, .sidebar .sidebar-wrapper li.active-out > [data-toggle="collapse"] + div .nav li:before{
    border-right: 17px solid  #464646;
    border-top: 17px solid transparent;
    border-bottom: 17px solid transparent;
    content: "";
    display: inline-block;
    position: absolute;
    right: -16px;
    opacity: 1;
    top: 7px;
    transition: opacity 150ms ease-in;
  }
  .sidebar .sidebar-wrapper li.active-out > a:not([data-toggle="collapse"]):after, .sidebar .sidebar-wrapper li.active-out > [data-toggle="collapse"] + div .nav li:after{
    border-right: 17px solid #464646;
    border-top: 17px solid transparent;
    border-bottom: 17px solid transparent;
    content: "";
    display: inline-block;
    position: absolute;
    right: -17px;
    opacity: 1;
    top: 7px;
    transition: opacity 150ms ease-in;
  }
}

@media screen and (min-width: 768px){
  .container {
    max-width: 100%;
  }
  .footer .footer-nav{
    padding: 20px 0px 20px 35px;
  }
  .footer .copyright{
    padding: 20px;
  }
  .modal-content {
     width: 400px;
  }
  .card-stats .card-body .numbers .card-category{
    margin-top: -20px;
  }
  .cards-data{
    margin-top: 20px;
    margin-bottom: 20px;
  }

}

@media only screen and (max-width: 768px) {
  .front-galery{
    position: unset !important;
    margin-top: 20px !important;
    margin-bottom: 20px !important;
  }
  .carousel-inner{
    height: calc((9/16)*88vw);
    width: 88vw;
  }
}

@media screen and (min-width: 576px){
  .modal-content {
     width: 400px;
  }
  .container{
    max-width: 100%;
  }

}

/* ===================================== */
/* Special Classes to Project Guia */

.sidebar-menu-icon{
  font-size: 25px;
}

.sidebar-menu-item{
  display: none;
}

.sidebar .nav p, .off-canvas-sidebar .nav p{
  display: none;
}

.pagination-icon{
  font-size: 35px;
  margin-top: -3px;
}

/* COLORS AND SPACES - abstract */

.back-beige{
  color: #464646;
}

.back-beige a{
  color: #677e96;
  text-decoration: none;
}

.back-beige a:hover{
  color: #5082b5;
}

.back-dark{
  background-color: #464646;
  color: #fff;
}

.back-dark-over{
  background-color: #666666;
  color: #fff;
}

.btn-grey-down{
  background-color: #bdbcba;
}

.btn-grey-down a{
  color: #84714b;
}

.btn-grey-up{
  background-color: #afc5c2;
}

.btn-grey-up a{
  color: #4b7e84;
}

.bullet-check{
  color: #0ea058;
}

.bullet-times{
  color: #ffa007;
}

.deep_sea_rocket-blue, .deep_sea_rocket-blue #hr-home{
  color: #446B7E;
  background-color: #edf8ff;
  border-color: #446B7E;
}

.deep_sea_rocket-blue:hover{
  color: #edf8ff;
  background-color: #446B7E;
}

.deep_sea_rocket-blue:hover #hr-home{
  border-color: #edf8ff;
}

.deep_sea_rocket-blue-icon{
  color: #446B7E;
  border-color: #446B7E;
}

.deep_sea_rocket-blue-active_base{
    background-color: #446B7E;
}

.deep_sea_rocket-blue-active_on{
  color: #fff;
  border-color: #fff;
}

.deep_sea_rocket-marine, .deep_sea_rocket-marine #hr-home{
  color: #4f5a90;
  background-color: #f2f1ff;
  border-color: #4f5a90;
}

.deep_sea_rocket-marine:hover{
  color: #f2f1ff;
  background-color: #4f5a90;
  border-color: #f2f1ff;
}

.deep_sea_rocket-marine:hover #hr-home{
  border-color: #f2f1ff;
}

.deep_sea_rocket-red, .deep_sea_rocket-red #hr-home{
  color: #be3e2b;
  background-color: #ffedee;
  border-color: #be3e2b;
}

.deep_sea_rocket-red:hover{
  color: #ffedee;
  background-color: #be3e2b;
  border-color: #ffedee;
}

.deep_sea_rocket-red:hover #hr-home{
  border-color: #ffedee;
}

.deep_sea_rocket-orange, .deep_sea_rocket-orange #hr-home{
  color: #ed8a45;
  background-color: #fff9ed;
  border-color: #ed8a45;
}

.deep_sea_rocket-orange:hover{
  color: #fff9ed;
  background-color: #ed8a45;
  border-color: #fff9ed;
}

.deep_sea_rocket-orange:hover #hr-home{
  border-color: #fff9ed;
}

.deep_sea_rocket-yellow, .deep_sea_rocket-yellow #hr-home{
  color: #efc810;
  background-color: #fffffa;
  border-color: #efc810;
}

.deep_sea_rocket-yellow:hover{
  color: #fffffa;
  background-color: #efc810;
  border-color: #fffffa;
}

.deep_sea_rocket-yellow:hover #hr-home{
  border-color: #fffffa;
}


/* MODAL LOGIN */
/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 9999; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.8); /* Black w/ opacity */
  vertical-align: middle;
}

/* Modal Content/Box */
.modal-content {
  background-color: #fefefe;
  margin: 0 auto;
  border-radius: 0px;
  -webkit-transform: translate(0,-50%);
  -o-transform: translate(0,-50%);
  transform: translate(0,-50%);
  top: 50%;
}

.modal-content .col-sm-6{
  padding: 0;
}

/* The Close Button */
.close {
   /* Position it in the top right corner outside of the modal */
   position: absolute;
   right: 25px;
   top: 0;
   color: #fff;
   font-size: 40px;
   font-weight: bold;
}

/* Close button on hover */
.close:hover,
.close:focus {
   color: red;
   cursor: pointer;
}

/* Add Zoom Animation */
.animate {
   -webkit-animation: animatezoom 0.6s;
   animation: animatezoom 0.6s
}

@-webkit-keyframes animatezoom {
   from {-webkit-transform: scale(0)}
   to {-webkit-transform: scale(1)}
}

@keyframes animatezoom {
   from {transform: scale(0)}
   to {transform: scale(1)}
}


/* SPECIAL ELEMENTS */

.nav-search-form{
  margin-right: 20px;
}

.front-header{
  height: 100px;
}

.front-title{
  position: absolute;
  bottom: 0px;
  left: 35px;
  right: auto;
}

.front-home-welcome{
  position: absolute;
  top: 30px;
  margin: auto 20px;
}

.front-galery{
  position: relative;
  top: -60px;
  margin: auto 20px;
}

.control-bar{
  min-height: 80px;
  padding: 15px 15px;
}

.footer ul li a, a{
  color: #c4dce8;
  padding: 0px;
  font-size: 0.7 rem;
}

.footer-title{
  position: relative;
  top: 10px;
  left: 35px;
  right: auto;
  margin-bottom: 20px;
  font-size: 1rem;
}

.footer-address{
  padding: 20px;
}

.footer-address p{
  font-size: 0.7rem;
}

.footer-address h7{
  line-height: 200%;
  font-size: 0.8rem;
}
