/* ===================================== */
/* Corrections of paper-dashboard theme */

.container{
  margin: 0px;
}

.container-fluid{
  padding: 0px;
}

.row{
  margin-left: 0;
  margin-right: 0;
}

.form-row{
  padding: 5px 0px;
}

.card{
  border-radius: 0px;
}

.card-stats .icon-big{
  line-height: 0;
}

.title{
  font-weight: normal;
}

.title-modal{
  margin-top: 15px;
}

img{
  border-radius: 0px;
}

input{
  width: 90%;
  font-size: 20px;
}

input::placeholder {
  text-align: center;
}


.sidebar .logo a.logo-mini, .off-canvas-sidebar .logo a.logo-mini{
  margin-left: 0px;
  width: 60px;
  text-align: center;
}

.sidebar .logo .simple-text, .off-canvas-sidebar .logo .simple-text {
  padding: 0px;
}

.navbar.navbar-transparent {
  border-bottom: 0px;
  background-color: #464646 !important;
}

.main-panel > .content {
  padding: 0px;
  margin-top: 60px;
}

.carousel-inner{
  background-color: #ddd;
  height: calc((9/16)*42vw);
  transition: height 500ms ease, transform 500ms ease, width 500ms ease;
  transform: scale(1);
  width: 42vw;
}

.card-stats .card-body{
  margin: 0px;
  padding: 5px;
}

.footer ul li {
display: block;
}

.footer-nav ul li {
display: inline-block;
}

.navbar .form-group, .navbar .input-group {
  background-color: #d6d6d6;
  height: 33px;
}

/* Corrections into mediaqueries */

@media (min-width: 1200px){
  .container{
    max-width: 100%;
  }
  .footer .footer-nav{
    padding: 20px 0px 20px 35px;
  }
  .footer .copyright{
    padding: 20px;
  }
  .modal-content {
     width: 400px;
  }
  .card-stats .card-body .numbers .card-category{
    margin-top: -20px;
  }
}

@media (min-width: 991px){
  .main-panel {
      min-height: 900px;
  }
  .footer .copyright{
    padding: 20px;
  }
  .modal-content {
     width: 400px;
  }
  .card-stats .card-body .numbers .card-category{
    margin-top: -20px;
  }
}

@media screen and (min-width: 768px){
  .container {
    max-width: 100%;
  }
  .footer .footer-nav{
    padding: 20px 0px 20px 35px;
  }
  .footer .copyright{
    padding: 20px;
  }
  .modal-content {
     width: 400px;
  }
  .card-stats .card-body .numbers .card-category{
    margin-top: -20px;
  }
}

@media screen and (min-width: 500px){
  .modal-content {
     width: 400px;
  }
}


/* ===================================== */
/* Special Classes to Project Guia */

/* COLORS AND SPACES - abstract */
.back-dark{
  background-color: #464646;
  color: #fff;
}

.back-dark-over{
  background-color: #666666;
  color: #fff;
}

.btn-grey-down{
  background-color: #bdbcba;
}

.btn-grey-down a{
  color: #84714b;
}

.btn-grey-up{
  background-color: #afc5c2;
}

.btn-grey-up a{
  color: #4b7e84;
}

.deep_sea_rocket-blue{
  color: #34738f;
  background-color: #edf8ff;
}

.deep_sea_rocket-marine{
  color: #245b75;
  background-color: #f2f1ff;
}
.deep_sea_rocket-red{
  color: #be3e2b;
  background-color: #ffedee;
}

.deep_sea_rocket-orange{
  color: #ed8a45;
  background-color: #fff9ed;
}

.deep_sea_rocket-yellow{
  color: #efc810;
  background-color: #fffffa;
}



/* MODAL LOGIN */
/* The Modal (background) */
.modal {
   display: none; /* Hidden by default */
   position: fixed; /* Stay in place */
   z-index: 9999; /* Sit on top */
   left: 0;
   top: 0;
   width: 100%; /* Full width */
   height: 100%; /* Full height */
   overflow: auto; /* Enable scroll if needed */
   background-color: rgb(0,0,0); /* Fallback color */
   background-color: rgba(0,0,0,0.8); /* Black w/ opacity */
   padding-top: 60px;
}

/* Modal Content/Box */
.modal-content {
   background-color: #fefefe;
   margin: 5px auto;
   border-radius: 0px;
}

.modal-content .col-sm-6{
  padding: 0;
}

/* The Close Button */
.close {
   /* Position it in the top right corner outside of the modal */
   position: absolute;
   right: 25px;
   top: 0;
   color: #fff;
   font-size: 40px;
   font-weight: bold;
}

/* Close button on hover */
.close:hover,
.close:focus {
   color: red;
   cursor: pointer;
}

/* Add Zoom Animation */
.animate {
   -webkit-animation: animatezoom 0.6s;
   animation: animatezoom 0.6s
}

@-webkit-keyframes animatezoom {
   from {-webkit-transform: scale(0)}
   to {-webkit-transform: scale(1)}
}

@keyframes animatezoom {
   from {transform: scale(0)}
   to {transform: scale(1)}
}


/* SPECIAL ELEMENTS */

.nav-search-form{
  margin-right: 20px;
}

.front-header{
  height: 100px;
}

.front-title{
  position: absolute;
  bottom: 0px;
  left: 35px;
  right: auto;
}

.front-home-welcome{
  position: absolute;
  top: 30px;
  margin: auto 20px;
}

.front-galery{
  position: relative;
  top: -60px;
  margin: auto 20px;
}

/* .footer{
  position: fixed;
  bottom: 0px;
  display: block;
} */

.footer ul li a, a{
  color: #c4dce8;
  padding: 0px;
  font-size: 0.7 rem;
}

.footer-title{
  position: relative;
  top: 10px;
  left: 35px;
  right: auto;
  margin-bottom: 20px;
  font-size: 1rem;
}

.footer-address{
  padding: 20px;
}

.footer-address p{
  font-size: 0.7rem;
}

.footer-address h7{
  line-height: 200%;
  font-size: 0.8rem;
}
