/* ===================================== */
/* Corrections of paper-dashboard theme */

.container{
  margin: 0px;
}

.container-fluid{
  padding: 0px;
}

.row{
  margin-left: 0;
  margin-right: 0;
}

.card{
  border-radius: 0px;
}

.sidebar .logo a.logo-mini, .off-canvas-sidebar .logo a.logo-mini{
  margin-left: 0px;
  width: 60px;
  text-align: center;
}

.sidebar .logo .simple-text, .off-canvas-sidebar .logo .simple-text {
  padding: 0px;
}

.main-panel > .content {
  padding: 0px;
  margin-top: 60px;
}

.card-stats .card-body{
  margin: 0px;
  padding: 5px;
}

/* Corrections into mediaqueries */

@media (min-width: 1200px){
  .container{
    max-width: 100%;
  }
  .footer .footer-nav{
    padding: 20px 0px 20px 35px;
  }
  .footer .copyright{
    padding: 20px;
  }
}


@media screen and (min-width: 768px){
  .container {
    max-width: 100%;
  }
  .footer .footer-nav{
    padding: 20px 0px 20px 35px;
  }
  .footer .copyright{
    padding: 20px;
  }
}

@media (min-width: 991px){
  .main-panel {
      min-height: 900px;
  }
  .footer .copyright{
    padding: 20px;
  }
}


/* ===================================== */
/* Special Classes to Project Guia */

/* COLORS AND SPACES - abstract */
.back-dark{
  background-color: #464646;
  color: #fff;
}

.back-dark-over{
  background-color: #666666;
  color: #fff;
}

/* SPECIAL ELEMENTS */

.front-header{
  height: 150px;
}

.front-title{
  position: absolute;
  bottom: 0px;
  left: 35px;
  right: auto;
}

.front-home-welcome{
  position: absolute;
  top: 30px;
  margin: auto 20px;
}

.front-galery{
  position: relative;
  top: -60px;
  margin: auto 20px;
}

/* .footer{
  position: fixed;
  bottom: 0px;
  display: block;
} */

.footer ul li a, a{
  color: #c4dce8;
  padding: 0px;
}

.footer-title{
  position: relative;
  top: 10px;
  left: 35px;
  right: auto;
  margin-bottom: 20px;
}

.footer-address{
  padding: 20px;
}

.footer-address p{
  font-size: 13px;
}

.footer-address h7{
  line-height: 200%;
}
