{% extends 'base.html' %}
{% load staticfiles %}
{% load collection_filters %}

<!-- block title_page START -->
{% block title_page %}
Guia
{% endblock %}
<!-- block title_page END -->

<!-- block sidebar_menu START -->
{% block sidebar_menu %}
<ul class="nav">
  <li class="active-out">
    <a href="{% url 'collection' %}">
      <i class="fal fa-folder-open sidebar-menu-icon deep_sea_rocket-blue-icon"></i>
      <p class="deep_sea_rocket-blue-icon">Coleções</p>
    </a>
  </li>
  <li>
    <a href="{% url 'exhibition' %}">
      <i class="fal fa-images sidebar-menu-icon"></i>
      <p> Exposições </p>
    </a>
  </li>
  <li>
    <a href="{% url 'publication' %}">
      <i class="fal fa-book-open sidebar-menu-icon"></i>
      <p> Publicações </p>
    </a>
  </li>
  <li>
    <a href="{% url 'person' %}">
      <i class="fal fa-user-circle sidebar-menu-icon"></i>
      <p> Pessoas </p>
    </a>
  </li>
</ul>
{% endblock %}
<!-- block sidebar_menu END -->

{% block navbar_top_search %}

<!-- <form id="searchform" action="{% url 'blog_search_list_view' %}" method="get" accept-charset="utf-8">
  <button class="searchbutton" type="submit">
    <i class="fa fa-search"></i>
  </button>
  <input class="searchfield" id="searchbox" name="q" type="text" placeholder="Search">
</form> -->

<form id="searchform" class="nav-search-form" action="" method="get" accept-charset="utf-8">
  <div class="input-group no-border">
    <input type="text" value="" name="input_search"
          id="searchbox" class="form-control" placeholder="Pesquisar...">

    <div class="input-group-append">
      <div class="input-group-text">
        <a href="#" onclick="form.submit();">
          <i class="nc-icon nc-zoom-split"></i>
        </a>
      </div>
    </div>
    <input type="submit" style="display: none">
  </div>
</form>
{% endblock %}

<!-- block content START -->
{% block content %}
<div class="content">

  <div class="row">
    <div class="col-sm-12 front-header back-dark">
      <h2 class="front-title">Coleções</h2>
    </div>
  </div>

<div class="row back-dark-over control-bar">
  <!-- form select START -->
    <form action="" method="get">
      <div class="row">

        <div class="col-md-2">

          <label class="control-label">
            Área Responsável
          </label>

          <select multiple title="Selecione" id="management_unit" class="selectpicker" name="management_unit" onchange="" data-style="btn btn-sm btn-fill" data-size="7">
            <option value="0"
            {% if 0 in management_unit_selected %}
              selected
            {% endif %} >
              Todas as Áreas</option>
            {% for management_unit in management_unit_list %}
              <option value="{{management_unit.id_auto_series}}"
              {% if management_unit.id_auto_series in management_unit_selected %}
              selected
              {% endif %} >
                  {{management_unit}}
              </option>
            {% endfor%}
          </select>

        </div>

        <div class="col-md-2">

          <label class="control-label">
            Nível de Descrição
          </label>

          <select multiple title="Selecione" id="description_level" name="description_level" class="selectpicker" onchange="" data-style="btn btn-sm btn-fill" data-size="7">
            <option value="0"
            {% if 0 in description_level_selected %}
              selected
            {% endif %} >
                Todos os Níveis</option>
              {% for description_level in description_level_list %}
              <option value="{{description_level.id_auto_series}}"
              {% if description_level.id_auto_series in description_level_selected %}
              selected
              {% endif %} >
                  {{description_level}}
              </option>
              {% endfor%}
          </select>

        </div>

        <div class="col-md-2">

          <label class="control-label">
            Condição de Acesso
          </label>

          <select multiple title="Selecione" id="access_condition" name="access_condition" class="selectpicker" onchange="" data-style="btn btn-sm btn-fill" data-size="7">
            <option value="0"
            {% if 0 in access_condition_selected %}
              selected
            {% endif %} >
            Todas as Condições</option>
              {% for access_condition in access_condition_list %}
              <option value="{{access_condition.id_auto_series}}"
              {% if access_condition.id_auto_series in access_condition_selected %}
              selected
              {% endif %} >
                  {{access_condition}}
              </option>
              {% endfor%}
          </select>

        </div>

        <div class="col-md-2">
          <label class="control-label">
            Generos Documentais
          </label>
          <select multiple title="Selecione" id="genre_tag" name="genre_tag" class="selectpicker" onchange="" data-style="btn btn-sm btn-fill" data-size="7">
            <option value="0"
            {% if 0 in genre_tag_selected %}
              selected
            {% endif %} >
            Todos os Generos</option>
              {% for genre_tag in genre_tag_list %}collection_list
              <option value="{{genre_tag.id_auto_series}}"
              {% if genre_tag.id_auto_series in genre_tag_selected %}
              selected
              {% endif %} >
                  {{genre_tag}}
              </option>
              {% endfor%}
          </select>

        </div>
        <div class="col-md-4">
          <a href="">
          <button type="submit" class="button" class="btn btn-grey-down btn-sm">Filtrar</button>
          </a>
        </div>

      </div>
    </form>
  <!-- form select END -->
</div>

<div class="container">
  <div class="row back-beige">
    <table class="table table-hover" <thead class="text-warning">
      <tr>
        <th>
          <a href="?order_by=id_human&order={% if order == 'desc' %}asc{% else %}desc{% endif %}">ID<a>
        </th>
        <th>
          <a href="?order_by=management_unit&order={% if order == 'desc' %}asc{% else %}desc{% endif %}">Área Responsável</a>
        </th>
        <th>
          <a href="?order_by=title&order={% if order == 'desc' %}asc{% else %}desc{% endif %}">Título</a>
        </th>
        <th>
          <a href="?order_by=date_start&order={% if order == 'desc' %}asc{% else %}desc{% endif %}">Data Baliza</a>
        </th>
        <th>
          <a href="?order_by=description_level&order={% if order == 'desc' %}asc{% else %}desc{% endif %}">Nível de Descrição</a>
        </th>
        <th>
          <a href="?order_by=items_online&order={% if order == 'desc' %}asc{% else %}desc{% endif %}">Status de Processamento</a>
        </th>
        <th>
          <a href="?order_by=access_condition&order={% if order == 'desc' %}asc{% else %}desc{% endif %}">Condição de Acesso</a>
        </th>
        <th>
          <a href="?order_by=access_local_status&order={% if order == 'desc' %}asc{% else %}desc{% endif %}">Presencial</a>
        </th>
        <th>
          <a href="?order_by=access_online_status&order={% if order == 'desc' %}asc{% else %}desc{% endif %}">Online</a>
        </th>
      </tr>
      </thead>
      <tbody>
        {% for collection in collection_list %}
        <tr>
          <td>
            <a href="{{ collection.get_absolute_url }}">
                {{collection.id_human|default_if_none:"-"  }}</a>
          </td>
          <td>{{collection.management_unit|default_if_none:"-" }}
          </td>
          <td>
            <a href="{{ collection.get_absolute_url }}">
              {{ collection.aggregation_type|default_if_none:"" }}
              {{collection.title|default_if_none:"-" }}
            </a>
          </td>
          <td>{{collection.date_start|default_if_none:'-'|date:'Y' }} -
            {{collection.date_end|default_if_none:'-'|date:'Y' }}
          </td>
          <td>{{collection.description_level|default_if_none:"-" }}
          </td>
          <td>
            <div class="progress">
              {% with collection.items_online|percent:collection.items_total as online %}
              <div class="progress-bar progress-bar-success" role="progressbar" style="width: {{online}}%" aria-valuenow="{{online}}" aria-valuemin="0" aria-valuemax="100">
              </div>
              {% endwith %}
              {% with collection.items_processed|subtract:collection.items_online|percent:collection.items_total|default_if_none:'0' as processed %}
              <div class="progress-bar progress-bar-warning" role="progressbar" style="width: {{processed}}%" aria-valuenow="{{processed}}" aria-valuemin="0" aria-valuemax="100">
              </div>
              {% endwith %}
            </div>
          </td>
          <td>{{collection.access_condition|default_if_none:"-"}}
          </td>
          <td>
            {% if collection.access_local_status %}
            <i class="far fa-check-circle bullet-check"></i>
            {% else %}
            <i class="far fa-times-circle bullet-times"></i>
            {% endif %}
          </td>
          <td>
            {% if collection.access_online_status %}
            <i class="far fa-check-circle bullet-check"></i>
            {% else %}
            <i class="far fa-times-circle bullet-times"></i>
            {% endif %}
          </td>
        </tr>
        {% empty %}
        <p>Não há dados para os filtros selecionados</p>
        {% endfor %}
      </tbody>
    </table>
  </div>
</div>

<!-- pagination START -->
<nav aria-label="Collection Pagination">
  <ul class="pagination justify-content-center">

    {% if page_obj.has_previous %}
    <li class="page-item">
      <a class="page-link-arrow" href="?page={{ page_obj.previous_page_number }}" aria-label="Previous">
        <span aria-hidden="true">
          <i class="fas fa-arrow-square-left pagination-icon"></i>
        </span>
      </a>
    </li>
    {% else %}
    <li class="page-item">
        <span aria-hidden="true" class="page-link-arrow">
          <i class="fal fa-arrow-square-left pagination-icon"></i>
        </span>
    </li>
    {% endif %}

    {% if page_obj.has_previous %}
    <li class="page-item">
      <a class="page-link" href="?page={{ page_obj.previous_page_number }}">
        {{ page_obj.previous_page_number }}
      </a>
    </li>
      {% else %}
    <li class="page-item active">
      <a class="page-link" href="#">
        {{ page_obj.number }}</a>
      </a>
    </li>
      {% endif %}


    <li class="page-item active">
      {% if page_obj.has_previous and page_obj.has_next %}
      <a class="page-link" href="?page={{ page_obj.number }}">
        {{ page_obj.number }}
      </a>
      {% else %}
      {% endif %}
    </li>

    <li class="page-item">
      {% if page_obj.has_next %}
      <a class="page-link" href="?page={{ page_obj.next_page_number}}">
        {{ page_obj.next_page_number }}</a>
      {% else %}
      {% endif %}
    </li>

    {% if page_obj.has_next %}
    <li class="page-item">
      <a class="page-link-arrow" href="?page={{ page_obj.next_page_number }}" aria-label="Next">
        <span aria-hidden="true">
          <i class="fas fa-arrow-square-right pagination-icon"></i>
        </span>
      </a>
    </li>
    {% else %}
    <li class="page-item">
      <span aria-hidden="true" class="page-link-arrow">
        <i class="fal fa-arrow-square-right pagination-icon"></i>
      </span>
    </li>
    {% endif %}
  </ul>
</nav>
<!-- pagination END -->

  {% endblock %}
    <!-- block content END -->
