{% extends 'base.html' %}
{% load staticfiles %}
{% load collection_filters %}

<!-- block title_page START -->
{% block title_page %}
  Guia
{% endblock %}
<!-- block title_page END -->

<!-- block sidebar_menu START -->
{% block sidebar_menu %}
<ul class="nav">
  <li class="active">
    <a href="{% url 'collection' %}">
      <i class="far fa-folder-open"></i>
      <p>Coleções</p>
    </a>
  </li>
  <li>
    <a href="{% url 'exhibition' %}">
      <i class="fas fa-images"></i>
      <p> Exposições </p>
    </a>
  </li>
  <li>
    <a href="{% url 'publication' %}">
      <i class="fas fa-book"></i>
      <p> Publicações </p>
    </a>
  </li>
  <li>
    <a href="{% url 'person' %}">
      <i class="fas fa-user-circle"></i>
      <p> Pessoas </p>
    </a>
  </li>
</ul>
{% endblock %}
<!-- block sidebar_menu END -->

  <!-- block content START -->
  {% block content %}
  <div class="content">
    <!-- content_row_card25percent START -->
    {% block content_row_card25percent %}
     <div class ="row">
        <div class="col-md-3">
          <div class ="card">
            <div class="card-header">
              <div class="card-text">
                <h3 class="card-title">Filtro</h3>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-3">
          <div class ="card">
            <div class="card-header">
              <div class="card-text">
                <h5 class="card-title">Nível de Descrição</h5>
                <select class="form-control form-control-sm">
                  {% for collection in collection_list %}
                    <option>{{collection.description_level}}</option>
                  {% empty %}
                  {% endfor %}
                </select>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-3">
          <div class ="card">
            <div class="card-header">
              <div class="card-text">
                <h3 class="card-title">Filtro</h3>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-3">
          <div class ="card">
            <div class="card-header">
              <div class="card-text">
                <h3 class="card-title">Filtro</h3>
              </div>
            </div>
          </div>
        </div>
      </div>
    {% endblock %}
    <!-- content_row_card25percent END -->

    <!-- content_row_card33percent START -->
    {% block content_row_card33percent %}
    {% endblock %}
    <!-- content_row_card33percent END -->

    <!-- content_row_card50percent START -->
    {% block content_row_card50percent %}
    {% endblock %}
    <!-- content_row50percent END -->

    <!-- content_row_card100percent START -->
    {% block content_row_card100percent %}
        <div class="card">
          <div class="card-header">
            <div class="card-text">
              <h4 class="card-title">Coleções</h4>
              <p class="card-category">Clique na coleção para ver detalhes das informações</p>
            </div>
          </div>
          <div class="card-body">
            <table class="table table-hover">

              <thead class="text-warning">
                <tr>
                  <th><a href="?order_by=id_human&order={% if order == 'desc' %}asc{% else %}desc{% endif %}">ID<a></th>
                  <th><a href="?order_by=management_unit&order={% if order == 'desc' %}asc{% else %}desc{% endif %}">Área Responsável</a></th>
                  <th><a href="?order_by=title&order={% if order == 'desc' %}asc{% else %}desc{% endif %}">Título</a></th>
                  <th><a href="?order_by=date_start&order={% if order == 'desc' %}asc{% else %}desc{% endif %}">Data Baliza</a></th>
                  <th><a href="?order_by=description_level&order={% if order == 'desc' %}asc{% else %}desc{% endif %}">Nível de Descrição</a></th>
                  <th>Status de Processamento</th>
                  <th><a href="?order_by=access_condition&order={% if order == 'desc' %}asc{% else %}desc{% endif %}">Condição de Acesso</a></th>
                  <th><a href="?order_by=access_local_status&order={% if order == 'desc' %}asc{% else %}desc{% endif %}">Presencial</a></th>
                  <th><a href="?order_by=access_online_status&order={% if order == 'desc' %}asc{% else %}desc{% endif %}">Online</a></th>
                </tr>
              </thead>
              <tbody>
                {% for collection in collection_list %}
                <tr>
                  <td><a href="{{ collection.get_absolute_url }}">
                    {{collection.id_human|default_if_none:"-"  }}</a></td>
                  <td>{{collection.management_unit|default_if_none:"-"  }}</td>
                  <td><a href="{{ collection.get_absolute_url }}">
                    {{collection.title|default_if_none:"-" }}</a></td>
                  <td>{{collection.date_start|default_if_none:'-'|date:'Y' }} -
                    {{collection.date_end|default_if_none:'-'|date:'Y' }}</td>
                  <td>{{collection.description_level|default_if_none:"-" }}</td>
                  <td>
                    <div class="progress">
                      {% with collection.items_online|percent:collection.items_total as online %}
                            <div class="progress-bar progress-bar-success" role="progressbar" style="width: {{online}}%" aria-valuenow="{{online}}" aria-valuemin="0" aria-valuemax="100"></div>
                      {% endwith %}
                      {% with collection.items_processed|subtract:collection.items_online|percent:collection.items_total|default_if_none:'0' as processed %}
                            <div class="progress-bar progress-bar-warning" role="progressbar" style="width: {{processed}}%" aria-valuenow="{{processed}}" aria-valuemin="0" aria-valuemax="100"></div>
                      {% endwith %}
                   </div>
                  </td>
                  <td>{{collection.access_condition|default_if_none:"-"}}</td>
                  <td>{{collection.access_local_status|default_if_none:"-"}}</td>
                  <td>{{collection.access_online_status|default_if_none:"-"}}</td>
                </tr>
                {% empty %}
                <p>Não há nenhum registro cadastrado!</p>
                {% endfor %}
              </tbody>
            </table>
            {% if is_paginated %}
                <div class="pagination">
                    <span class="page-links">
                        {% if page_obj.has_previous %}
                            <a href="/collection?page={{ page_obj.previous_page_number }}"> Anterior</a>
                        {% endif %}
                        <span class="page-current">
                            Página {{ page_obj.number }} de
                            {{ page_obj.paginator.num_pages }}.
                        </span>
                        {% if page_obj.has_next %}
                            <a href="/collection?page={{ page_obj.next_page_number }}"> Próxima</a>
                        {% endif %}
                    </span>
                </div>
            {% endif %}
          </div>
        </div>
      </div>

    {% endblock %}
    <!-- content_row_card100percent END -->

    <!-- content_row5 START -->
    {% block content_row5 %}
    {% endblock %}
    <!-- content_row5 END -->

  {% endblock %}
  <!-- block content END -->
