{% load staticfiles %}
<ul class="nav">
  <li>
    <a href="{% url 'collection' %}">
      <i class="fal fa-folder-open sidebar-menu-icon "></i>
      <p class="sidebar-menu-item">Coleções</p>
    </a>
  </li>
  <li>
    <a href="{% url 'exhibition' %}">
      <i class="fal fa-images sidebar-menu-icon"></i>
      <p class="sidebar-menu-item"> Exposições </p>
    </a>
  </li>
  <li class="deep_sea_rocket-blue-active_base">
    <a href="{% url 'publication' %}">
      <i class="fal fa-book-open sidebar-menu-icon deep_sea_rocket-blue-active_on"></i>
      <p class="sidebar-menu-item deep_sea_rocket-blue-active_on"> Publicações </p>
    </a>
  </li>
  <li>
    <a href="{% url 'person' %}">
      <i class="fal fa-user-circle sidebar-menu-icon"></i>
      <p class="sidebar-menu-item"> Pessoas </p>
    </a>
  </li>
</ul>
