<footer class="footer back-dark">
  <div class="container-fluid">
    <div class="row">
      <h5 class="footer-title">
        Instituto Moreira Salles
      </h5>
    </div>
    <div class="container back-dark-over">
      <div class="row">
        <div class="col-sm-6 col-lg-3">
          <p>Rio de Janeiro</p>
          Rua Marquês de São Vicente, 476, Gávea
          CEP 22451-040 - Rio de Janeiro/RJ
          Tel.: (21) 3284-7400
          Horário de visitação: de terça a domingo e feriados (exceto segunda), das 11h às 20h
        </div>
        <div class="col-sm-6 col-lg-3">
          <p>São Paulo</p>
          Avenida Paulista, 2424
          CEP 01310-300 - São Paulo/SP
          Tel.: (11) 2842-9120

          Horário de visitação: de terça a domingo e feriados, das 10h às 20h; quintas, das 10h às 22h
        </div>
        <div class="col-sm-6 col-lg-3">
          <p>Poços de Caldas</p>
          Rua Teresópolis, 90
          CEP 37701-058 - Poços de Caldas/MG
          Tel.: (35) 3722-2776

          Horário de visitação: de terça a domingo e feriados (exceto segunda), das 13h às 19h
        </div>
        <div class="col-sm-6 col-lg-1">

        </div>
        <div class="col-sm-6 col-lg-2">
          <ul>
            <li><a href="#">Fale Conosco</a></li>
            <li><a href="#">Pesquisa</a></li>
            <li><a href="#">Newsletter</a></li>
            <li><a href="#">Imprensa</a></li>
            <li><a href="#">Trabalhe Conosco</a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="row">
      <nav class="footer-nav">
        <ul>
          <li>
            <a href="https://ims.com.br/politica-de-privacidade/" target="_blank">Política de Privacidade</a>
          </li>
          <li>
            <a href="https://ims.com.br/aviso-legal/" target="_blank">Aviso Legal</a>
          </li>
        </ul>
      </nav>
      <div class="credits ml-auto">
        <span class="copyright">
          ©
          <script>
            document.write(new Date().getFullYear())
          </script>, disponível em
          <a href="https://github.com/buccalon/guia" target="_blank">
          <i class="fab fa-github-square"></i>
          </a>
          por
          <a href="https://ims.com.br" target="_blank">
          IMS
          </a>
        </span>
      </div>
    </div>
  </div>
</footer>
