{% extends 'base.html' %}

{% load staticfiles widget_tweaks %}

{% block title_page %} Recuperar senha{% endblock %}

{% block sidebar_menu %}
  {% include 'sidebar_menu.html' %}
{% endblock %}

{% block content %}
<div class="content">
    <div class="row">
        <div class="col-sm-12 front-header back-dark">
            <h2 class="front-title">Recuperar senha</h2>
        </div>
    </div>

    <div class="container mt-3 mb-3">
        <div class="row back-beige">
            <div class="col-sm-12">
                <p>
                    Esqueceu a senha da sua conta?
                    Informe seu login e enviaremos um link de recuperação para seu e-mail.
                </p>
            </div>
        </div>
        <form class="form" action="{{ request.path }}" method="post">{% csrf_token %}
            <div class="row">
                <div class="form-group col-sm-12">
                    {{ form.username.label }}
                    {% if not form.username.errors %}
                        {% render_field form.username class="form-control" %}
                    {% else %}
                        {% render_field form.username class="form-control is-invalid" %}
                        {% for error in form.username.errors %}
                            <div class="invalid-feedback">{{ error }}</div>
                        {% endfor %}
                    {% endif %}
                </div>
                <div class="form-group col-sm-12">
                    <button type="submit" class="btn btn-success">Enviar</button>
                </div>
            </div>
        </form>
    </div>
{% endblock %}
