{% extends 'base.html' %}

{% load staticfiles widget_tweaks %}

{% block title_page %} Enviamos um e-mail para você {% endblock %}

{% block sidebar_menu %}
  {% include 'sidebar_menu.html' %}
{% endblock %}

{% block content %}
<div class="content">
    <div class="row">
        <div class="col-sm-12 front-header back-dark">
            <h2 class="front-title">Verifique sua caixa de e-mail</h2>
        </div>
    </div>

    <div class="container mt-3 mb-3">
        <div class="row back-beige">
            <div class="col-sm-12">
                <p>
                    Enviamos um e-mail para você com os próximos passos para finalizar a
                    recuperação da sua senha.
                </p>
            </div>
        </div>
    </div>
{% endblock %}
