{% extends 'base.html' %}
{% load staticfiles %}

<!-- block title_page START -->
{% block title_page %}
  Guia
{% endblock %}
<!-- block title_page END -->

<!-- block sidebar_menu START -->
{% block sidebar_menu %}
<ul class="nav">
  <li>
    <a href="{% url 'collection' %}">
      <i class="fas fa-folder"></i>
      <p>Coleções</p>
    </a>
  </li>
  <li>
    <a href="{% url 'exhibition' %}">
      <i class="fas fa-images"></i>
      <p> Exposições </p>
    </a>
  </li>
  <li>
    <a href="{% url 'publication' %}">
      <i class="fas fa-book"></i>
      <p> Publicações </p>
    </a>
  </li>
  <li>
    <a href="{% url 'person' %}">
      <i class="fas fa-user-circle"></i>
      <p> Pessoas </p>
    </a>
  </li>
</ul>
{% endblock %}
<!-- block sidebar_menu END -->

  <!-- block content START -->
  {% block content %}
  <div class="content">

<div class="row">
  <div class="col-sm-12 front-header back-dark">
    <h2 class="front-title">Bem-vindo ao Guia IMS</h2>
  </div>

</div>

<div class="row">
  <div class="col-lg-6 col-md-6 col-sm-1">
    <p class="home-welcome-content">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
  </div>

  <div class="col-lg-6 col-md-6 col-sm-1">
    <div class="front-galery">
      <img src="{% static 'img/2018_ims_paulista_1770x996.jpg' %}" alt="">
    </div>

  </div>
</div>

    <!-- content_row_datacards START -->
    <div class="container">
      <div class="row">
        <div class="col col1">
          <div class="card card-stats">
            <div class="card-body ">
            </div>
            <div class="card-footer ">
              <hr>
            </div>
          </div>
        </div>
        <div class="col col2">
          <div class="card card-stats">
            <div class="card-body ">
            </div>
            <div class="card-footer ">
              <hr>
            </div>
          </div>
        </div>
        <div class="col col3">
          <div class="card card-stats">
            <div class="card-body ">
            </div>
            <div class="card-footer ">
              <hr>
            </div>
          </div>
        </div>
        <div class="col col4">
          <div class="card card-stats">
            <div class="card-body ">
            </div>
            <div class="card-footer ">
              <hr>
            </div>
          </div>
        </div>
        <div class="col col5">
          <div class="card card-stats">
            <div class="card-body ">
            </div>
            <div class="card-footer ">
              <hr>
            </div>
          </div>
        </div>
      </div>
    </div>


    <!-- content_row_datadards END -->



  {% endblock %}
  <!-- block content END -->
