{% extends 'base.html' %}
{% load staticfiles %}

<!-- block title_page START -->
{% block title_page %}
  Guia
{% endblock %}
<!-- block title_page END -->

<!-- block sidebar_menu START -->
{% block sidebar_menu %}
<ul class="nav">
  <li>
    <a href="{% url 'collection' %}">
      <i class="far fa-folder-open"></i>
      <p>Coleções</p>
    </a>
  </li>
  <li>
    <a href="{% url 'exhibition' %}">
      <i class="fas fa-images"></i>
      <p> Exposições </p>
    </a>
  </li>
  <li class="active">
    <a href="{% url 'publication' %}">
      <i class="fas fa-book"></i>
      <p> Publicações </p>
    </a>
  </li>
  <li>
    <a href="{% url 'person' %}">
      <i class="fas fa-user-circle"></i>
      <p> Pessoas </p>
    </a>
  </li>
</ul>
{% endblock %}
<!-- block sidebar_menu END -->

  <!-- block content START -->
  {% block content %}
  <div class="content">
    <!-- content_row_card25percent START -->
    {% block content_row_card25percent %}
    {% endblock %}
    <!-- content_row_card25percent END -->

    <!-- content_row_card33percent START -->
    {% block content_row_card33percent %}
    {% endblock %}
    <!-- content_row_card33percent END -->

    <!-- content_row_card50percent START -->
    {% block content_row_card50percent %}
    {% endblock %}
    <!-- content_row50percent END -->

    <!-- content_row_card100percent START -->
    {% block content_row_card100percent %}
    {% endblock %}
    <!-- content_row_card100percent END -->

    <!-- content_row5 START -->
    {% block content_row5 %}
    {% endblock %}
    <!-- content_row5 END -->

  {% endblock %}
  <!-- block content END -->
