{% extends 'base.html' %}

{% load staticfiles widget_tweaks %}

{% block title_page %} Atualizar senha{% endblock %}

{% block sidebar_menu %}
  {% include 'sidebar_menu.html' %}
{% endblock %}

{% block content %}
<div class="content">
    <div class="row">
        <div class="col-sm-12 front-header back-dark">
            <h2 class="front-title">Atualizar senha</h2>
        </div>
    </div>

    <div class="container mt-3 mb-3">
        <form class="form" action="{{ request.path }}" method="post">{% csrf_token %}
            {% for field in form %}
            <div class="row">
                <div class="form-group col-sm-12">
                    {{ field.label }}
                    {% if not field.errors %}
                        {% render_field field class="form-control" %}
                    {% else %}
                        {% render_field field class="form-control is-invalid" %}
                        {% for error in field.errors %}
                            <div class="invalid-feedback">{{ error }}</div>
                        {% endfor %}
                    {% endif %}
                </div>
            </div>
            {% endfor %}
            <div class="row">
                <div class="form-group col-sm-12">
                    <button type="submit" class="btn btn-success">Enviar</button>
                </div>
            </div>
        </form>
    </div>
{% endblock %}
