<script>
    function go_to_page(page) {
        var form = $("#filterAndPagination");
        form.find("input[name='page']").val(page);
        form.submit();
    }

    function order_by(new_value) {
        var form = $("#filterAndPagination");
        var field = form.find("input[name='order_by']");
        var current_value = field.val();

        if(current_value.indexOf(new_value) >= 0 && current_value.indexOf('-') < 0) {
            new_value = "-" + new_value;
        }

        field.val(new_value);
        form.submit();
    }
</script>