{% if is_paginated %}
  <nav>
    <ul class="pagination justify-content-center">

      {% if page_obj.has_previous %}
        <li class="page-item">
          <a class="page-link-arrow" href="javascript: go_to_page({{ page_obj.previous_page_number }})" aria-label="Previous">
            <span aria-hidden="true">
              <i class="fas fa-arrow-square-left pagination-icon"></i>
            </span>
          </a>
        </li>
      {% else %}
        <li class="page-item">
            <span aria-hidden="true" class="page-link-arrow">
              <i class="fal fa-arrow-square-left pagination-icon"></i>
            </span>
        </li>
      {% endif %}

      {% for i in page_obj.paginator.page_range %}
        <li class="page-item {% if i == page_obj.number %}active{% endif %}">
          <a class="page-link" href="javascript: go_to_page({{ i }})">
            {{ i }}
          </a>
        </li>
      {% endfor %}

      {% if page_obj.has_next %}
        <li class="page-item">
          <a class="page-link-arrow" href="javascript: go_to_page({{ page_obj.next_page_number }})" aria-label="Next">
            <span aria-hidden="true">
              <i class="fas fa-arrow-square-right pagination-icon"></i>
            </span>
          </a>
        </li>
      {% else %}
        <li class="page-item">
          <span aria-hidden="true" class="page-link-arrow">
            <i class="fal fa-arrow-square-right pagination-icon"></i>
          </span>
        </li>
      {% endif %}
    </ul>
  </nav>
{% endif %}