#header{
  background-color: #525252!important;
  height: 60px;
  color: #d4d4d4;
  padding: 18px 40px;
}

.h1, .h2, .h3, h1, h2, h3{
  margin-top: 0px;
}

#branding h1, #branding h1 a:link, #branding h1 a:visited {
  color: #d4d4d4;
  background-color: #525252;
}

div.breadcrumbs{
  background-color: #6e7d84;
}

div#content.colM h1, h1{
  margin-top: 0px;
  font-size: 21px;
  padding: 6px;
  color: #4e4e4e;
  background-color: #d4d4d4;
}

.module h2, .module caption, .inline-group h2{
background-color: #e8e8e8;
color: #848484;
font-size: 1.6rem;
padding: 10px;
}

ul.object-tools{
  margin-top: -53px;
  margin-right: 5px;
}
a.historylink, a.viewsitelink {
  margin-top: 11px;
  margin-right: 7px;
}

a.historylink:hover, a.viewsitelink:hover {
  background-color: #6e7d84;
}

.aligned label {
  padding: 4px 10px 0 10px;
}

a.section:link, a.section:visited{
  color: #698ba9;
}
label {
  font-weight: 600!important;
  margin-right: 5px;
}

/* fixes */

div.field-box.field-id_old{
  width: 470px;
}

div.field-box.field-uuid, div.field-box.field-id_human, div.field-box.field-management_unit, div.field-box.field-title, div.field-box.field-date_start, div.field-box.field-date_end, div.field-box.field-access_condition {
  width: 500px;
}

.capture-preview-image {
    height: 200px;
    overflow-y: scroll;
    margin-right: 5px;
    float: left;
    width: 800px;
}
.preview-image {
    width: 100px;
}
